/* Basic styles for the navbar */
.navbar {
    display: none;
}

.play-icon {
    text-align: center;
    padding: 10px 0;
    
}

.bottom {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #121212;
    
}

.icon-container {
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    height: 100px;
    width: 100%;
    color: #fff;
}

.icon-first {
    padding-top: 20px;
    font-size: 30px;
    padding-right: 200px;
}

.icon-container .first{
    margin-left: 18px;
}

.icon-container .icon{
    padding-top: 20px;
    font-size: 30px;
    padding-left: 120px;
}

.icon-container .paragraph{
    margin-left: 150px;
}
/* Responsive styles for mobile devices */
@media (max-width: 600px) {
    .navbar {
        display: block;
    }
}

  