* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header{
  background-color: #1f1f1f;
}

.game-card{
  height: 250px;
  width: 232px;
  border: 2px solid black;
  margin: 10px;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
 }
.game-card{
  transform: translateY(-10px);
}

.play-icon{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s, background-color 0.3s;
  background-color: rgba(0, 0, 0, 0); 
  border-radius: 50%; 
  padding-left: 20px; 
  padding-right: 20px; 
}

.game-card:hover .play-icon {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5); 
}

.game-card:hover {
  height: 360px;
  width: 210px;
}

.game-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}


#description{
  font-size: 1rem;
  margin-top: 10px;
  white-space: nowrap;          
  overflow: hidden;             
  text-overflow: ellipsis; 
  color: #fff;
}

.logo{
  height: 50px;
  width: 220px;
  padding-left: 20px;
}

.card1:hover {
  transform: scale(1.04);
  transition: transform 0.2s ease; 
}
.playicon2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s, background-color 0.3s;
  background-color: rgba(0, 0, 0, 0); 
  border-radius: 50%; 
  padding-left: 20px; 
  padding-right: 20px; 
}
.card1:hover .playicon2 {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5); 
}
@media (max-width: 768px) {
  .image{
    /* height: 21rem;
    max-width: 95%; */
    margin: auto; 
  }

  .playicon2 {
    bottom: 5px;
    right: 5px;
  }
  .paragraph{
    display: none;
  }
}
